<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>143464426283-mdhmnkneg778od5qnqdfc608fg56bp7a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.143464426283-mdhmnkneg778od5qnqdfc608fg56bp7a</string>
	<key>API_KEY</key>
	<string>AIzaSyDefMc4hSrJnhckrRIDmPPzx8An_CIXlR4</string>
	<key>GCM_SENDER_ID</key>
	<string>143464426283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookListApp</string>
	<key>PROJECT_ID</key>
	<string>fir-test-c852a</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-test-c852a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143464426283:ios:706c19806a2d29b6f2b36e</string>
</dict>
</plist>